.Rproj.user
.Rhistory
.RData
.Ruserdata
2023_Recordings
/.quarto/
# used in the app - just ignore, or there are terrible merge conflicts
code/12-apps/03_submission/favorite-days.csv
about.html
2025_Recordings
**/*.quarto_ipynb
2025-Recordings
docs/
code/01*
code/02*
code/03*
code/04*
code/05*
code/06*
code/07*
code/08*
code/09*
code/10*
code/11*
code/12-adv-graphics.R
code/14*
code/15*
